## Session Objectives

- Introduction to Plotly

- Scatter Plots

- Line Charts

- Bar Plot

- Bubble Plot

- Box Plot

- Histograms

- Distplots

- Heatmaps

# 1. Introduction to Plotly

1. Until now we did visualisations using Matplotlib, Seaborn and Pandas. All of them produce static image files.
2. Plotly is company based out in Canada famous for it's products like Plotly and Dash
3. Plotly creates interactive visualisations in the form of HTML files
4. Drawback- Si eS ue koi ks
5. Dash is used to create live data based dashboards.

In [69]:
import numpy as np
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [2]:
match = pd.read_csv("matches - matches.csv")
delivery = pd.read_csv("deliveries.csv")

In [3]:
print(match.shape)
print(delivery.shape)

(636, 18)
(150460, 21)

In [4]:
match.sample()
# sample will give you random number

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
432,433,2013,Jaipur,2013-05-07,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Rajasthan Royals,0,9,AM Rahane,Sawai Mansingh Stadium,Aleem Dar,RJ Tucker,NaN

In [5]:
delivery.sample()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
19336,82,2,Delhi Daredevils,Mumbai Indians,19,1,Mohammad Asif,VY Mahesh,DS Kulkarni,0,...,0,0,0,0,0,0,0,Mohammad Asif,caught,A Nehra

In [6]:
ipl = delivery.merge(match,left_on='match_id',right_on = 'id')

In [26]:
ipl.shape

(150460, 39)

In [7]:
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [8]:
ipl.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder', 'id', 'season', 'city', 'date', 'team1',
       'team2', 'toss_winner', 'toss_decision', 'result', 'dl_applied',
       'winner', 'win_by_runs', 'win_by_wickets', 'player_of_match', 'venue',
       'umpire1', 'umpire2', 'umpire3'],
      dtype='object')

# Scatter plot

### problem :
We are going to draw scatter plot between top 50 batsman avg and strikerate in ipl history

In [19]:
top50 = ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(50).index.tolist()

In [20]:
top50

['SK Raina',
 'V Kohli',
 'RG Sharma',
 'G Gambhir',
 'DA Warner',
 'RV Uthappa',
 'CH Gayle',
 'S Dhawan',
 'MS Dhoni',
 'AB de Villiers',
 'AM Rahane',
 'YK Pathan',
 'KD Karthik',
 'BB McCullum',
 'V Sehwag',
 'SR Watson',
 'Yuvraj Singh',
 'M Vijay',
 'SE Marsh',
 'JH Kallis',
 'AT Rayudu',
 'DR Smith',
 'KA Pollard',
 'SR Tendulkar',
 'PA Patel',
 'MK Pandey',
 'R Dravid',
 'AC Gilchrist',
 'JP Duminy',
 'MEK Hussey',
 'DPMD Jayawardene',
 'RA Jadeja',
 'SPD Smith',
 'KC Sangakkara',
 'MK Tiwary',
 'AJ Finch',
 'DA Miller',
 'WP Saha',
 'NV Ojha',
 'S Badrinath',
 'SV Samson',
 'BJ Hodge',
 'SC Ganguly',
 'DJ Hussey',
 'F du Plessis',
 'SS Tiwary',
 'DJ Bravo',
 'GJ Maxwell',
 'KK Nair',
 'TM Dilshan']

In [25]:
new_ipl = ipl[ipl.batsman.isin(top50)]
new_ipl

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150431,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,2,SR Watson,KL Rahul,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150435,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,16,6,SR Watson,Sachin Baby,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150436,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,1,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150437,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,2,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150438,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,3,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [30]:
runs = new_ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False)
balls = new_ipl.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False)

In [31]:
runs

batsman
SK Raina            4548
V Kohli             4423
RG Sharma           4207
G Gambhir           4132
DA Warner           4014
RV Uthappa          3778
CH Gayle            3651
S Dhawan            3561
MS Dhoni            3560
AB de Villiers      3486
AM Rahane           3057
YK Pathan           2922
KD Karthik          2903
BB McCullum         2755
V Sehwag            2728
SR Watson           2628
Yuvraj Singh        2591
M Vijay             2511
SE Marsh            2489
JH Kallis           2427
AT Rayudu           2416
DR Smith            2385
KA Pollard          2354
SR Tendulkar        2334
PA Patel            2322
MK Pandey           2223
R Dravid            2174
AC Gilchrist        2069
JP Duminy           1993
MEK Hussey          1977
DPMD Jayawardene    1808
RA Jadeja           1732
SPD Smith           1713
KC Sangakkara       1687
MK Tiwary           1648
AJ Finch            1604
DA Miller           1563
WP Saha             1557
NV Ojha             1553
S Badrinath         1441
SV Samson           1426
BJ Hodge            1400
SC Ganguly          1349
DJ Hussey           1322
F du Plessis        1295
SS Tiwary           1276
DJ Bravo            1262
GJ Maxwell          1229
KK Nair             1158
TM Dilshan          1153
Name: batsman_runs, dtype: int64

In [32]:
balls

batsman
V Kohli             3494
G Gambhir           3433
SK Raina            3369
RG Sharma           3274
S Dhawan            3005
RV Uthappa          2960
DA Warner           2902
MS Dhoni            2680
AM Rahane           2602
CH Gayle            2532
AB de Villiers      2402
KD Karthik          2360
JH Kallis           2291
BB McCullum         2181
M Vijay             2092
YK Pathan           2076
PA Patel            2060
Yuvraj Singh        2050
SR Tendulkar        2044
AT Rayudu           1964
SR Watson           1949
R Dravid            1918
SE Marsh            1913
MK Pandey           1901
V Sehwag            1833
DR Smith            1803
KA Pollard          1674
MEK Hussey          1648
JP Duminy           1634
AC Gilchrist        1555
DPMD Jayawardene    1522
RA Jadeja           1458
MK Tiwary           1444
KC Sangakkara       1424
NV Ojha             1356
SPD Smith           1333
SC Ganguly          1326
AJ Finch            1270
S Badrinath         1245
WP Saha             1219
SV Samson           1165
BJ Hodge            1153
DA Miller           1135
SS Tiwary           1111
DJ Hussey           1101
TM Dilshan          1047
F du Plessis        1043
DJ Bravo            1032
KK Nair              929
GJ Maxwell           780
Name: batsman_runs, dtype: int64

In [33]:
sr = (runs/balls)*100

In [34]:
sr

batsman
AB de Villiers      145.129059
AC Gilchrist        133.054662
AJ Finch            126.299213
AM Rahane           117.486549
AT Rayudu           123.014257
BB McCullum         126.318203
BJ Hodge            121.422376
CH Gayle            144.194313
DA Miller           137.709251
DA Warner           138.318401
DJ Bravo            122.286822
DJ Hussey           120.072661
DPMD Jayawardene    118.791064
DR Smith            132.279534
F du Plessis        124.161074
G Gambhir           120.361200
GJ Maxwell          157.564103
JH Kallis           105.936272
JP Duminy           121.970624
KA Pollard          140.621266
KC Sangakkara       118.469101
KD Karthik          123.008475
KK Nair             124.650161
M Vijay             120.028681
MEK Hussey          119.963592
MK Pandey           116.938453
MK Tiwary           114.127424
MS Dhoni            132.835821
NV Ojha             114.528024
PA Patel            112.718447
R Dravid            113.347237
RA Jadeja           118.792867
RG Sharma           128.497251
RV Uthappa          127.635135
S Badrinath         115.742972
S Dhawan            118.502496
SC Ganguly          101.734540
SE Marsh            130.109775
SK Raina            134.995548
SPD Smith           128.507127
SR Tendulkar        114.187867
SR Watson           134.838379
SS Tiwary           114.851485
SV Samson           122.403433
TM Dilshan          110.124164
V Kohli             126.588437
V Sehwag            148.827059
WP Saha             127.727646
YK Pathan           140.751445
Yuvraj Singh        126.390244
Name: batsman_runs, dtype: float64

In [36]:
sr = sr.reset_index()

In [37]:
sr

             batsman  batsman_runs
0     AB de Villiers    145.129059
1       AC Gilchrist    133.054662
2           AJ Finch    126.299213
3          AM Rahane    117.486549
4          AT Rayudu    123.014257
5        BB McCullum    126.318203
6           BJ Hodge    121.422376
7           CH Gayle    144.194313
8          DA Miller    137.709251
9          DA Warner    138.318401
10          DJ Bravo    122.286822
11         DJ Hussey    120.072661
12  DPMD Jayawardene    118.791064
13          DR Smith    132.279534
14      F du Plessis    124.161074
15         G Gambhir    120.361200
16        GJ Maxwell    157.564103
17         JH Kallis    105.936272
18         JP Duminy    121.970624
19        KA Pollard    140.621266
20     KC Sangakkara    118.469101
21        KD Karthik    123.008475
22           KK Nair    124.650161
23           M Vijay    120.028681
24        MEK Hussey    119.963592
25         MK Pandey    116.938453
26         MK Tiwary    114.127424
27          MS Dhoni    132.835821
28           NV Ojha    114.528024
29          PA Patel    112.718447
30          R Dravid    113.347237
31         RA Jadeja    118.792867
32         RG Sharma    128.497251
33        RV Uthappa    127.635135
34       S Badrinath    115.742972
35          S Dhawan    118.502496
36        SC Ganguly    101.734540
37          SE Marsh    130.109775
38          SK Raina    134.995548
39         SPD Smith    128.507127
40      SR Tendulkar    114.187867
41         SR Watson    134.838379
42         SS Tiwary    114.851485
43         SV Samson    122.403433
44        TM Dilshan    110.124164
45           V Kohli    126.588437
46          V Sehwag    148.827059
47           WP Saha    127.727646
48         YK Pathan    140.751445
49      Yuvraj Singh    126.390244

# How to Calculate Batting Average in Cricket?

Calculating the batting average of a player needs a few values. The first would be the total number of runs the player has scored. Second, the number of innings that the player has batted in and third, the number of times that the player has been dismissed or the number of times that the player has remained not out.

The batting average isnâ€™t the number of runs divided by the number of matches or the number of innings played. 
### To calculate the batting average of any player, you need to divide the total number of runs scored by that player by the number of times he or she has got out (or been dismissed). We can calculate the number of times the player has been dismissed by subtracting the number of not outs from the number of innings batted.

So, for instance, if a player, say Player A, plays 300 matches but bats in only 250 innings and is dismissed only in 200 of those, then the average is calculated using the 200 as the denominator and not 300 or 250. So, if Player A has made 10000 runs in his playing career, then his average would be calculated by dividing 10000 by 200. Therefore, the average of Player A would be 50.

In [42]:
out = ipl[ipl.player_dismissed.isin(top50)]
out

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
64,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,11,3,S Dhawan,MC Henriques,STR Binny,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
116,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,19,4,Yuvraj Singh,DJ Hooda,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
165,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,7,3,CH Gayle,TM Head,DJ Hooda,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
234,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,3,SR Watson,S Aravind,A Nehra,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150317,636,1,Sunrisers Hyderabad,Royal Challengers Bangalore,18,3,BCJ Cutting,NV Ojha,SR Watson,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150402,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,11,3,CH Gayle,V Kohli,BCJ Cutting,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150416,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,V Kohli,AB de Villiers,BB Sran,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150422,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,5,AB de Villiers,KL Rahul,Bipul Sharma,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150438,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,3,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [44]:
outs = out.player_dismissed.value_counts()
outs

SK Raina            134
G Gambhir           131
RG Sharma           129
RV Uthappa          128
V Kohli             118
KD Karthik          117
S Dhawan            109
PA Patel            107
Yuvraj Singh        101
DA Warner           100
V Sehwag             99
YK Pathan            98
BB McCullum          98
M Vijay              95
MS Dhoni             94
AB de Villiers       91
AM Rahane            91
AT Rayudu            89
CH Gayle             89
SR Watson            85
JH Kallis            85
DR Smith             84
KA Pollard           82
MK Pandey            78
R Dravid             77
AC Gilchrist         76
NV Ojha              74
RA Jadeja            72
SR Tendulkar         69
KC Sangakkara        65
DPMD Jayawardene     64
SE Marsh             63
WP Saha              61
AJ Finch             59
MK Tiwary            56
SV Samson            56
DJ Bravo             55
SC Ganguly           53
MEK Hussey           51
JP Duminy            50
DJ Hussey            49
GJ Maxwell           49
S Badrinath          47
SPD Smith            46
KK Nair              46
DA Miller            45
SS Tiwary            45
F du Plessis         43
TM Dilshan           43
BJ Hodge             42
Name: player_dismissed, dtype: int64

In [60]:
avg = runs/outs

In [61]:
avg = avg.reset_index()
avg

               index          0
0     AB de Villiers  38.307692
1       AC Gilchrist  27.223684
2           AJ Finch  27.186441
3          AM Rahane  33.593407
4          AT Rayudu  27.146067
5        BB McCullum  28.112245
6           BJ Hodge  33.333333
7           CH Gayle  41.022472
8          DA Miller  34.733333
9          DA Warner  40.140000
10          DJ Bravo  22.945455
11         DJ Hussey  26.979592
12  DPMD Jayawardene  28.250000
13          DR Smith  28.392857
14      F du Plessis  30.116279
15         G Gambhir  31.541985
16        GJ Maxwell  25.081633
17         JH Kallis  28.552941
18         JP Duminy  39.860000
19        KA Pollard  28.707317
20     KC Sangakkara  25.953846
21        KD Karthik  24.811966
22           KK Nair  25.173913
23           M Vijay  26.431579
24        MEK Hussey  38.764706
25         MK Pandey  28.500000
26         MK Tiwary  29.428571
27          MS Dhoni  37.872340
28           NV Ojha  20.986486
29          PA Patel  21.700935
30          R Dravid  28.233766
31         RA Jadeja  24.055556
32         RG Sharma  32.612403
33        RV Uthappa  29.515625
34       S Badrinath  30.659574
35          S Dhawan  32.669725
36        SC Ganguly  25.452830
37          SE Marsh  39.507937
38          SK Raina  33.940299
39         SPD Smith  37.239130
40      SR Tendulkar  33.826087
41         SR Watson  30.917647
42         SS Tiwary  28.355556
43         SV Samson  25.464286
44        TM Dilshan  26.813953
45           V Kohli  37.483051
46          V Sehwag  27.555556
47           WP Saha  25.524590
48         YK Pathan  29.816327
49      Yuvraj Singh  25.653465

## NO of ways we rename columns name in pandas
#### rename specific columns: df.rename(columns = {'old_col1':'new_col1', 'old_col2':'new_col2'}, inplace = True)
#### rename all columns: df.columns = ['new_col1', 'new_col2', 'new_col3', 'new_col4']
#### rename specific column: df.columns = df.columns.str.replace('old_char', 'new_char')

In [62]:
avg.columns=['batsman','avg']
avg

             batsman        avg
0     AB de Villiers  38.307692
1       AC Gilchrist  27.223684
2           AJ Finch  27.186441
3          AM Rahane  33.593407
4          AT Rayudu  27.146067
5        BB McCullum  28.112245
6           BJ Hodge  33.333333
7           CH Gayle  41.022472
8          DA Miller  34.733333
9          DA Warner  40.140000
10          DJ Bravo  22.945455
11         DJ Hussey  26.979592
12  DPMD Jayawardene  28.250000
13          DR Smith  28.392857
14      F du Plessis  30.116279
15         G Gambhir  31.541985
16        GJ Maxwell  25.081633
17         JH Kallis  28.552941
18         JP Duminy  39.860000
19        KA Pollard  28.707317
20     KC Sangakkara  25.953846
21        KD Karthik  24.811966
22           KK Nair  25.173913
23           M Vijay  26.431579
24        MEK Hussey  38.764706
25         MK Pandey  28.500000
26         MK Tiwary  29.428571
27          MS Dhoni  37.872340
28           NV Ojha  20.986486
29          PA Patel  21.700935
30          R Dravid  28.233766
31         RA Jadeja  24.055556
32         RG Sharma  32.612403
33        RV Uthappa  29.515625
34       S Badrinath  30.659574
35          S Dhawan  32.669725
36        SC Ganguly  25.452830
37          SE Marsh  39.507937
38          SK Raina  33.940299
39         SPD Smith  37.239130
40      SR Tendulkar  33.826087
41         SR Watson  30.917647
42         SS Tiwary  28.355556
43         SV Samson  25.464286
44        TM Dilshan  26.813953
45           V Kohli  37.483051
46          V Sehwag  27.555556
47           WP Saha  25.524590
48         YK Pathan  29.816327
49      Yuvraj Singh  25.653465

In [63]:
avg = avg.merge(sr,on='batsman')

avg

             batsman        avg  batsman_runs
0     AB de Villiers  38.307692    145.129059
1       AC Gilchrist  27.223684    133.054662
2           AJ Finch  27.186441    126.299213
3          AM Rahane  33.593407    117.486549
4          AT Rayudu  27.146067    123.014257
5        BB McCullum  28.112245    126.318203
6           BJ Hodge  33.333333    121.422376
7           CH Gayle  41.022472    144.194313
8          DA Miller  34.733333    137.709251
9          DA Warner  40.140000    138.318401
10          DJ Bravo  22.945455    122.286822
11         DJ Hussey  26.979592    120.072661
12  DPMD Jayawardene  28.250000    118.791064
13          DR Smith  28.392857    132.279534
14      F du Plessis  30.116279    124.161074
15         G Gambhir  31.541985    120.361200
16        GJ Maxwell  25.081633    157.564103
17         JH Kallis  28.552941    105.936272
18         JP Duminy  39.860000    121.970624
19        KA Pollard  28.707317    140.621266
20     KC Sangakkara  25.953846    118.469101
21        KD Karthik  24.811966    123.008475
22           KK Nair  25.173913    124.650161
23           M Vijay  26.431579    120.028681
24        MEK Hussey  38.764706    119.963592
25         MK Pandey  28.500000    116.938453
26         MK Tiwary  29.428571    114.127424
27          MS Dhoni  37.872340    132.835821
28           NV Ojha  20.986486    114.528024
29          PA Patel  21.700935    112.718447
30          R Dravid  28.233766    113.347237
31         RA Jadeja  24.055556    118.792867
32         RG Sharma  32.612403    128.497251
33        RV Uthappa  29.515625    127.635135
34       S Badrinath  30.659574    115.742972
35          S Dhawan  32.669725    118.502496
36        SC Ganguly  25.452830    101.734540
37          SE Marsh  39.507937    130.109775
38          SK Raina  33.940299    134.995548
39         SPD Smith  37.239130    128.507127
40      SR Tendulkar  33.826087    114.187867
41         SR Watson  30.917647    134.838379
42         SS Tiwary  28.355556    114.851485
43         SV Samson  25.464286    122.403433
44        TM Dilshan  26.813953    110.124164
45           V Kohli  37.483051    126.588437
46          V Sehwag  27.555556    148.827059
47           WP Saha  25.524590    127.727646
48         YK Pathan  29.816327    140.751445
49      Yuvraj Singh  25.653465    126.390244

In [64]:
avg.rename(columns = {'batsman_runs':'strike_rate'}, inplace = True)

In [65]:
avg

             batsman        avg  strike_rate
0     AB de Villiers  38.307692   145.129059
1       AC Gilchrist  27.223684   133.054662
2           AJ Finch  27.186441   126.299213
3          AM Rahane  33.593407   117.486549
4          AT Rayudu  27.146067   123.014257
5        BB McCullum  28.112245   126.318203
6           BJ Hodge  33.333333   121.422376
7           CH Gayle  41.022472   144.194313
8          DA Miller  34.733333   137.709251
9          DA Warner  40.140000   138.318401
10          DJ Bravo  22.945455   122.286822
11         DJ Hussey  26.979592   120.072661
12  DPMD Jayawardene  28.250000   118.791064
13          DR Smith  28.392857   132.279534
14      F du Plessis  30.116279   124.161074
15         G Gambhir  31.541985   120.361200
16        GJ Maxwell  25.081633   157.564103
17         JH Kallis  28.552941   105.936272
18         JP Duminy  39.860000   121.970624
19        KA Pollard  28.707317   140.621266
20     KC Sangakkara  25.953846   118.469101
21        KD Karthik  24.811966   123.008475
22           KK Nair  25.173913   124.650161
23           M Vijay  26.431579   120.028681
24        MEK Hussey  38.764706   119.963592
25         MK Pandey  28.500000   116.938453
26         MK Tiwary  29.428571   114.127424
27          MS Dhoni  37.872340   132.835821
28           NV Ojha  20.986486   114.528024
29          PA Patel  21.700935   112.718447
30          R Dravid  28.233766   113.347237
31         RA Jadeja  24.055556   118.792867
32         RG Sharma  32.612403   128.497251
33        RV Uthappa  29.515625   127.635135
34       S Badrinath  30.659574   115.742972
35          S Dhawan  32.669725   118.502496
36        SC Ganguly  25.452830   101.734540
37          SE Marsh  39.507937   130.109775
38          SK Raina  33.940299   134.995548
39         SPD Smith  37.239130   128.507127
40      SR Tendulkar  33.826087   114.187867
41         SR Watson  30.917647   134.838379
42         SS Tiwary  28.355556   114.851485
43         SV Samson  25.464286   122.403433
44        TM Dilshan  26.813953   110.124164
45           V Kohli  37.483051   126.588437
46          V Sehwag  27.555556   148.827059
47           WP Saha  25.524590   127.727646
48         YK Pathan  29.816327   140.751445
49      Yuvraj Singh  25.653465   126.390244

In [67]:
avg.columns

Index(['batsman', 'avg', 'strike_rate'], dtype='object')

In [71]:
# plot scatter
trace = go.Scatter(x=avg.avg,y=avg.strike_rate,mode='markers')

data = [trace]

layout = go.Layout(title='Batsman Avg vs SR',
                  xaxis={'title':'Batsman Average'},
                  yaxis={'title':'Batsman Strikrate'})
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [78]:
# plot scatter
trace = go.Scatter(x=avg.avg,y=avg.strike_rate,
                   mode='markers',text=avg.batsman
                  ,marker={'color':'#00a65a','size':15})

data = [trace]

layout = go.Layout(title='Batsman Avg vs SR',
                  xaxis={'title':'Batsman Average'},
                  yaxis={'title':'Batsman Strikrate'})
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

2. Line Chart

In [75]:
# year by year performance

single = ipl[ipl.batsman=='V Kohli']
performance = single.groupby('season')['batsman_runs'].sum().reset_index()
performance

   season  batsman_runs
0    2008           165
1    2009           246
2    2010           307
3    2011           557
4    2012           364
5    2013           639
6    2014           359
7    2015           505
8    2016           973
9    2017           308

In [77]:
# plot scatter
trace = go.Scatter(x=performance.season,
                   y=performance.batsman_runs,
                   mode='lines',marker={'color':'#00a65a'})

data = [trace]

layout = go.Layout(title='Year by Year Performnace',
                  xaxis={'title':'Season'},
                  yaxis={'title':'Runs'})
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig,filename='year by year performance')

C:\Users\Nihar\anaconda3\lib\site-packages\plotly\offline\offline.py:562: UserWarning:

Your filename `year by year performance` didn't end with .html. Adding .html to the end of your file.

'year by year performance.html'

In [79]:
# year by year batsman performance

single = ipl[ipl.batsman=='V Kohli']
performance = single.groupby('season')['batsman_runs'].sum().reset_index()
performance

single1 = ipl[ipl.batsman=='MS Dhoni']
performance1 = single1.groupby('season')['batsman_runs'].sum().reset_index()
performance1

   season  batsman_runs
0    2008           414
1    2009           332
2    2010           287
3    2011           392
4    2012           357
5    2013           461
6    2014           371
7    2015           372
8    2016           284
9    2017           290

In [80]:
combine = performance.merge(performance1,on='season')
combine

   season  batsman_runs_x  batsman_runs_y
0    2008             165             414
1    2009             246             332
2    2010             307             287
3    2011             557             392
4    2012             364             357
5    2013             639             461
6    2014             359             371
7    2015             505             372
8    2016             973             284
9    2017             308             290

In [84]:
trace = go.Scatter(x=performance.season,
                   y=performance.batsman_runs,
                   mode='lines+markers',marker={'color':'#00a65a'}
                  ,name = 'Virat Kohli')

trace1 = go.Scatter(x=performance1.season,
                   y=performance1.batsman_runs,
                   mode='lines+markers',
                   name='MS Dhoni')

data = [trace,trace1]

layout = go.Layout(title='Year by Year Performnace',
                  xaxis={'title':'Season'},
                  yaxis={'title':'Runs'})
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig,filename='year by year performance combine')

'year by year performance combine.html'

In [90]:
# Multiple Line Charts

def batsman_comp(*name):
    data = []
    
    for i in name:
        single = ipl[ipl.batsman==i]
        performance = single.groupby('season')['batsman_runs'].sum().reset_index()
        
        trace = go.Scatter(x=performance.season,
                   y=performance.batsman_runs,
                   mode='lines+markers',
                   name=i)
        data.append(trace)
        
    layout = go.Layout(title='Batsman record Comparator',
                  xaxis={'title':'Season'},
                  yaxis={'title':'Runs'})
    
    fig = go.Figure(data=data,layout=layout)
    
    pyo.plot(fig,filename='year_by_year1')

In [89]:
batsman_comp('V Kohli', 'RG Sharma', 'DA Warner', 'MS Dhoni')

C:\Users\Nihar\anaconda3\lib\site-packages\plotly\offline\offline.py:562: UserWarning:

Your filename `year_by_year` didn't end with .html. Adding .html to the end of your file.

# 3. Bar PLot

In [106]:
top10= ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10).index.to_list()

In [107]:
top10_df = ipl[ipl['batsman'].isin(top10)]
top10_df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150414,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,3,V Kohli,AB de Villiers,BB Sran,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150415,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,4,V Kohli,AB de Villiers,BB Sran,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150416,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,V Kohli,AB de Villiers,BB Sran,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150420,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,3,AB de Villiers,KL Rahul,Bipul Sharma,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150422,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,5,AB de Villiers,KL Rahul,Bipul Sharma,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [114]:
top10_score = top10_df.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).reset_index()
top10_score

          batsman  batsman_runs
0        SK Raina          4548
1         V Kohli          4423
2       RG Sharma          4207
3       G Gambhir          4132
4       DA Warner          4014
5      RV Uthappa          3778
6        CH Gayle          3651
7        S Dhawan          3561
8        MS Dhoni          3560
9  AB de Villiers          3486

In [116]:
# bar plot
trace = go.Bar(x=top10_score.batsman,y=top10_score.batsman_runs)

data = [trace]

layout = go.Layout(title='Top10 batsman score',
                  xaxis={'title':'Batsman'},
                  yaxis={'title':'Batsman_runs'})

fig = go.Figure(data=data,layout=layout)
    
pyo.plot(fig,filename='Top10 batsman score')

C:\Users\Nihar\anaconda3\lib\site-packages\plotly\offline\offline.py:562: UserWarning:

Your filename `Top10 batsman score` didn't end with .html. Adding .html to the end of your file.

'Top10 batsman score.html'

There are 3 types of bar graph

1. Nested Bar Graph

2. Stacked Bar graph

3. Overlayed bar graph

In [118]:
top10_df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150414,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,3,V Kohli,AB de Villiers,BB Sran,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150415,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,4,V Kohli,AB de Villiers,BB Sran,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150416,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,V Kohli,AB de Villiers,BB Sran,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150420,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,3,AB de Villiers,KL Rahul,Bipul Sharma,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150422,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,5,AB de Villiers,KL Rahul,Bipul Sharma,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [152]:
iw = top10_df.groupby(['batsman','inning'])['batsman_runs'].sum().reset_index()
mask = iw['inning']==1
mask1 = iw['inning']==2

one = iw[mask]
two = iw[mask1]

In [153]:
one

           batsman  inning  batsman_runs
0   AB de Villiers       1          2128
3         CH Gayle       1          2003
7        DA Warner       1          2118
10       G Gambhir       1          1699
12        MS Dhoni       1          2232
14       RG Sharma       1          2344
16      RV Uthappa       1          1516
18        S Dhawan       1          2262
20        SK Raina       1          2647
23         V Kohli       1          2391

In [154]:
two

           batsman  inning  batsman_runs
1   AB de Villiers       2          1345
4         CH Gayle       2          1623
8        DA Warner       2          1896
11       G Gambhir       2          2433
13        MS Dhoni       2          1328
15       RG Sharma       2          1863
17      RV Uthappa       2          2262
19        S Dhawan       2          1299
21        SK Raina       2          1893
24         V Kohli       2          2027

In [155]:
iw

           batsman  inning  batsman_runs
0   AB de Villiers       1          2128
1   AB de Villiers       2          1345
2   AB de Villiers       3            13
3         CH Gayle       1          2003
4         CH Gayle       2          1623
5         CH Gayle       3            15
6         CH Gayle       4            10
7        DA Warner       1          2118
8        DA Warner       2          1896
9        DA Warner       4             0
10       G Gambhir       1          1699
11       G Gambhir       2          2433
12        MS Dhoni       1          2232
13        MS Dhoni       2          1328
14       RG Sharma       1          2344
15       RG Sharma       2          1863
16      RV Uthappa       1          1516
17      RV Uthappa       2          2262
18        S Dhawan       1          2262
19        S Dhawan       2          1299
20        SK Raina       1          2647
21        SK Raina       2          1893
22        SK Raina       3             8
23         V Kohli       1          2391
24         V Kohli       2          2027
25         V Kohli       4             5

In [156]:
one.columns = one.columns.str.replace('batsman_runs', '1st innings')

In [157]:
one

           batsman  inning  1st innings
0   AB de Villiers       1         2128
3         CH Gayle       1         2003
7        DA Warner       1         2118
10       G Gambhir       1         1699
12        MS Dhoni       1         2232
14       RG Sharma       1         2344
16      RV Uthappa       1         1516
18        S Dhawan       1         2262
20        SK Raina       1         2647
23         V Kohli       1         2391

In [158]:
two.columns = two.columns.str.replace('batsman_run', '2nd innings')

In [159]:
two

           batsman  inning  2nd inningss
1   AB de Villiers       2          1345
4         CH Gayle       2          1623
8        DA Warner       2          1896
11       G Gambhir       2          2433
13        MS Dhoni       2          1328
15       RG Sharma       2          1863
17      RV Uthappa       2          2262
19        S Dhawan       2          1299
21        SK Raina       2          1893
24         V Kohli       2          2027

In [160]:
final = one.merge(two,on='batsman')[['batsman','1st innings','2nd inningss']]

In [162]:
final.rename(columns = {'2nd inningss':'2nd innings'},inplace=True)

In [163]:
final

          batsman  1st innings  2nd innings
0  AB de Villiers         2128         1345
1        CH Gayle         2003         1623
2       DA Warner         2118         1896
3       G Gambhir         1699         2433
4        MS Dhoni         2232         1328
5       RG Sharma         2344         1863
6      RV Uthappa         1516         2262
7        S Dhawan         2262         1299
8        SK Raina         2647         1893
9         V Kohli         2391         2027

In [168]:
# Nested Bar Graph
trace1 = go.Bar(x=final.batsman,y=final['1st innings'], 
                name = '1st innings',
               marker = {'color':'#00a65a'})

trace2 = go.Bar(x=final.batsman,y=final['2nd innings'], 
                name = '2nd innings',
               marker = {'color':'red'})
data = [trace1,trace2]

layout = go.Layout(title='Inning wise score',
                  xaxis={'title':'Batsman'},
                  yaxis={'title':'Batsman_runs'})

fig = go.Figure(data=data,layout=layout)
    
pyo.plot(fig,filename='Inning wise score')

'Inning wise score.html'

In [169]:
# Overlayed bar graph
trace1 = go.Bar(x=final.batsman,y=final['1st innings'], 
                name = '1st innings',
               marker = {'color':'#00a65a'})

trace2 = go.Bar(x=final.batsman,y=final['2nd innings'], 
                name = '2nd innings',
               marker = {'color':'red'})
data = [trace1,trace2]

layout = go.Layout(title='Inning wise score',
                  xaxis={'title':'Batsman'},
                  yaxis={'title':'Batsman_runs'},
                  barmode= 'overlay')

fig = go.Figure(data=data,layout=layout)
    
pyo.plot(fig,filename='Inning wise score1')

C:\Users\Nihar\anaconda3\lib\site-packages\plotly\offline\offline.py:562: UserWarning:

Your filename `Inning wise score1` didn't end with .html. Adding .html to the end of your file.

'Inning wise score1.html'

In [170]:
# Stacked Bar graph
trace1 = go.Bar(x=final.batsman,y=final['1st innings'], 
                name = '1st innings',
               marker = {'color':'#00a65a'})

trace2 = go.Bar(x=final.batsman,y=final['2nd innings'], 
                name = '2nd innings',
               marker = {'color':'red'})
data = [trace1,trace2]

layout = go.Layout(title='Inning wise score',
                  xaxis={'title':'Batsman'},
                  yaxis={'title':'Batsman_runs'},
                  barmode= 'stack')

fig = go.Figure(data=data,layout=layout)
    
pyo.plot(fig,filename='Inning wise score2')

C:\Users\Nihar\anaconda3\lib\site-packages\plotly\offline\offline.py:562: UserWarning:

Your filename `Inning wise score2` didn't end with .html. Adding .html to the end of your file.

'Inning wise score2.html'

# 4. Bubble Plot

In [179]:
ipl_6 = ipl[ipl.batsman_runs==6]
ipl_6

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
10,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,4,DA Warner,S Dhawan,A Choudhary,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
47,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,8,4,MC Henriques,S Dhawan,TM Head,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
75,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,13,2,Yuvraj Singh,MC Henriques,A Choudhary,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
89,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,15,3,Yuvraj Singh,MC Henriques,S Aravind,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
91,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,15,5,MC Henriques,Yuvraj Singh,S Aravind,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150395,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,10,2,V Kohli,CH Gayle,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150413,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,2,V Kohli,AB de Villiers,BB Sran,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150428,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,15,5,SR Watson,KL Rahul,MC Henriques,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150440,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,5,STR Binny,Sachin Baby,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
150453,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,6,Sachin Baby,CJ Jordan,Mustafizur Rahman,0,...,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [183]:
ipl_50 = ipl_6[ipl_6.batsman.isin(top50)]
df_ipl = ipl_50.groupby('batsman')['batsman_runs'].count().reset_index()
df_ipl.columns = df_ipl.columns.str.replace('batsman_run', 'Number_of_six')
df_ipl

             batsman  Number_of_sixs
0     AB de Villiers             158
1       AC Gilchrist              92
2           AJ Finch              59
3          AM Rahane              60
4          AT Rayudu              79
5        BB McCullum             124
6           BJ Hodge              43
7           CH Gayle             266
8          DA Miller              78
9          DA Warner             160
10          DJ Bravo              48
11         DJ Hussey              60
12  DPMD Jayawardene              40
13          DR Smith             117
14      F du Plessis              38
15         G Gambhir              58
16        GJ Maxwell              82
17         JH Kallis              44
18         JP Duminy              78
19        KA Pollard             148
20     KC Sangakkara              27
21        KD Karthik              71
22           KK Nair              26
23           M Vijay              89
24        MEK Hussey              52
25         MK Pandey              65
26         MK Tiwary              39
27          MS Dhoni             156
28           NV Ojha              79
29          PA Patel              35
30          R Dravid              28
31         RA Jadeja              57
32         RG Sharma             173
33        RV Uthappa             125
34       S Badrinath              28
35          S Dhawan              71
36        SC Ganguly              42
37          SE Marsh              78
38          SK Raina             174
39         SPD Smith              45
40      SR Tendulkar              29
41         SR Watson             122
42         SS Tiwary              45
43         SV Samson              57
44        TM Dilshan              24
45           V Kohli             160
46          V Sehwag             106
47           WP Saha              57
48         YK Pathan             149
49      Yuvraj Singh             141

In [173]:
avg

             batsman        avg  strike_rate
0     AB de Villiers  38.307692   145.129059
1       AC Gilchrist  27.223684   133.054662
2           AJ Finch  27.186441   126.299213
3          AM Rahane  33.593407   117.486549
4          AT Rayudu  27.146067   123.014257
5        BB McCullum  28.112245   126.318203
6           BJ Hodge  33.333333   121.422376
7           CH Gayle  41.022472   144.194313
8          DA Miller  34.733333   137.709251
9          DA Warner  40.140000   138.318401
10          DJ Bravo  22.945455   122.286822
11         DJ Hussey  26.979592   120.072661
12  DPMD Jayawardene  28.250000   118.791064
13          DR Smith  28.392857   132.279534
14      F du Plessis  30.116279   124.161074
15         G Gambhir  31.541985   120.361200
16        GJ Maxwell  25.081633   157.564103
17         JH Kallis  28.552941   105.936272
18         JP Duminy  39.860000   121.970624
19        KA Pollard  28.707317   140.621266
20     KC Sangakkara  25.953846   118.469101
21        KD Karthik  24.811966   123.008475
22           KK Nair  25.173913   124.650161
23           M Vijay  26.431579   120.028681
24        MEK Hussey  38.764706   119.963592
25         MK Pandey  28.500000   116.938453
26         MK Tiwary  29.428571   114.127424
27          MS Dhoni  37.872340   132.835821
28           NV Ojha  20.986486   114.528024
29          PA Patel  21.700935   112.718447
30          R Dravid  28.233766   113.347237
31         RA Jadeja  24.055556   118.792867
32         RG Sharma  32.612403   128.497251
33        RV Uthappa  29.515625   127.635135
34       S Badrinath  30.659574   115.742972
35          S Dhawan  32.669725   118.502496
36        SC Ganguly  25.452830   101.734540
37          SE Marsh  39.507937   130.109775
38          SK Raina  33.940299   134.995548
39         SPD Smith  37.239130   128.507127
40      SR Tendulkar  33.826087   114.187867
41         SR Watson  30.917647   134.838379
42         SS Tiwary  28.355556   114.851485
43         SV Samson  25.464286   122.403433
44        TM Dilshan  26.813953   110.124164
45           V Kohli  37.483051   126.588437
46          V Sehwag  27.555556   148.827059
47           WP Saha  25.524590   127.727646
48         YK Pathan  29.816327   140.751445
49      Yuvraj Singh  25.653465   126.390244

In [184]:
df_final = avg.merge(df_ipl,on='batsman')
df_final

             batsman        avg  strike_rate  Number_of_sixs
0     AB de Villiers  38.307692   145.129059             158
1       AC Gilchrist  27.223684   133.054662              92
2           AJ Finch  27.186441   126.299213              59
3          AM Rahane  33.593407   117.486549              60
4          AT Rayudu  27.146067   123.014257              79
5        BB McCullum  28.112245   126.318203             124
6           BJ Hodge  33.333333   121.422376              43
7           CH Gayle  41.022472   144.194313             266
8          DA Miller  34.733333   137.709251              78
9          DA Warner  40.140000   138.318401             160
10          DJ Bravo  22.945455   122.286822              48
11         DJ Hussey  26.979592   120.072661              60
12  DPMD Jayawardene  28.250000   118.791064              40
13          DR Smith  28.392857   132.279534             117
14      F du Plessis  30.116279   124.161074              38
15         G Gambhir  31.541985   120.361200              58
16        GJ Maxwell  25.081633   157.564103              82
17         JH Kallis  28.552941   105.936272              44
18         JP Duminy  39.860000   121.970624              78
19        KA Pollard  28.707317   140.621266             148
20     KC Sangakkara  25.953846   118.469101              27
21        KD Karthik  24.811966   123.008475              71
22           KK Nair  25.173913   124.650161              26
23           M Vijay  26.431579   120.028681              89
24        MEK Hussey  38.764706   119.963592              52
25         MK Pandey  28.500000   116.938453              65
26         MK Tiwary  29.428571   114.127424              39
27          MS Dhoni  37.872340   132.835821             156
28           NV Ojha  20.986486   114.528024              79
29          PA Patel  21.700935   112.718447              35
30          R Dravid  28.233766   113.347237              28
31         RA Jadeja  24.055556   118.792867              57
32         RG Sharma  32.612403   128.497251             173
33        RV Uthappa  29.515625   127.635135             125
34       S Badrinath  30.659574   115.742972              28
35          S Dhawan  32.669725   118.502496              71
36        SC Ganguly  25.452830   101.734540              42
37          SE Marsh  39.507937   130.109775              78
38          SK Raina  33.940299   134.995548             174
39         SPD Smith  37.239130   128.507127              45
40      SR Tendulkar  33.826087   114.187867              29
41         SR Watson  30.917647   134.838379             122
42         SS Tiwary  28.355556   114.851485              45
43         SV Samson  25.464286   122.403433              57
44        TM Dilshan  26.813953   110.124164              24
45           V Kohli  37.483051   126.588437             160
46          V Sehwag  27.555556   148.827059             106
47           WP Saha  25.524590   127.727646              57
48         YK Pathan  29.816327   140.751445             149
49      Yuvraj Singh  25.653465   126.390244             141

In [194]:
trace = go.Scatter(x=df_final.avg,y=df_final.strike_rate,
                name= 'batsman',mode='markers',
                marker={'size':df_final['Number_of_sixs'],}
                )
data = [trace]

layout = go.Layout(title='Bubble Chart',
                  xaxis={'title':'Average'},
                  yaxis={'title':'Strike Rate'})

fig = go.Figure(data=data,layout=layout)
    
pyo.plot(fig,filename='Bubble Chart')

'Bubble Chart.html'

In [203]:
# Box Plot

In [195]:
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [196]:
delivery.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [197]:
delivery.total_runs

0         0
1         0
2         4
3         0
4         2
         ..
150455    2
150456    0
150457    1
150458    1
150459    4
Name: total_runs, Length: 150460, dtype: int64

In [200]:
match_agg = delivery.groupby(['match_id'])['total_runs'].sum().reset_index()
match_agg

     match_id  total_runs
0           1         379
1           2         371
2           3         367
3           4         327
4           5         299
..        ...         ...
631       632         277
632       633         317
633       634         302
634       635         325
635       636         408

[636 rows x 2 columns]

In [201]:
match

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [202]:
season_wise = match_agg.merge(match,left_on='match_id',right_on='id')[['match_id','total_runs','season']]
season_wise

     match_id  total_runs  season
0           1         379    2017
1           2         371    2017
2           3         367    2017
3           4         327    2017
4           5         299    2017
..        ...         ...     ...
631       632         277    2016
632       633         317    2016
633       634         302    2016
634       635         325    2016
635       636         408    2016

[636 rows x 3 columns]

In [204]:
trace = go.Box(x=season_wise.total_runs,name="All Seasons")
data = [trace]

layout = go.Layout(title='Total Score Analysis',
                  xaxis={'title':'Total Score'})

fig = go.Figure(data=data,layout=layout)
    
pyo.plot(fig,filename='Box plot')

C:\Users\Nihar\anaconda3\lib\site-packages\plotly\offline\offline.py:562: UserWarning:

Your filename `Box plot` didn't end with .html. Adding .html to the end of your file.

'Box plot.html'

In [206]:
trace1 = go.Box(x=season_wise[season_wise.season==2017].total_runs,name="2017",marker={'color':'#00a65a'})
trace2 = go.Box(x=season_wise[season_wise.season==2008].total_runs,name="2008")
data = [trace1,trace2]

layout = go.Layout(title='Total Score Analysis',
                  xaxis={'title':'Total Score'})

fig = go.Figure(data=data,layout=layout)
    
pyo.plot(fig,filename='Box plot1')

'Box plot1.html'

# Distplot

In [207]:
avg

             batsman        avg  strike_rate
0     AB de Villiers  38.307692   145.129059
1       AC Gilchrist  27.223684   133.054662
2           AJ Finch  27.186441   126.299213
3          AM Rahane  33.593407   117.486549
4          AT Rayudu  27.146067   123.014257
5        BB McCullum  28.112245   126.318203
6           BJ Hodge  33.333333   121.422376
7           CH Gayle  41.022472   144.194313
8          DA Miller  34.733333   137.709251
9          DA Warner  40.140000   138.318401
10          DJ Bravo  22.945455   122.286822
11         DJ Hussey  26.979592   120.072661
12  DPMD Jayawardene  28.250000   118.791064
13          DR Smith  28.392857   132.279534
14      F du Plessis  30.116279   124.161074
15         G Gambhir  31.541985   120.361200
16        GJ Maxwell  25.081633   157.564103
17         JH Kallis  28.552941   105.936272
18         JP Duminy  39.860000   121.970624
19        KA Pollard  28.707317   140.621266
20     KC Sangakkara  25.953846   118.469101
21        KD Karthik  24.811966   123.008475
22           KK Nair  25.173913   124.650161
23           M Vijay  26.431579   120.028681
24        MEK Hussey  38.764706   119.963592
25         MK Pandey  28.500000   116.938453
26         MK Tiwary  29.428571   114.127424
27          MS Dhoni  37.872340   132.835821
28           NV Ojha  20.986486   114.528024
29          PA Patel  21.700935   112.718447
30          R Dravid  28.233766   113.347237
31         RA Jadeja  24.055556   118.792867
32         RG Sharma  32.612403   128.497251
33        RV Uthappa  29.515625   127.635135
34       S Badrinath  30.659574   115.742972
35          S Dhawan  32.669725   118.502496
36        SC Ganguly  25.452830   101.734540
37          SE Marsh  39.507937   130.109775
38          SK Raina  33.940299   134.995548
39         SPD Smith  37.239130   128.507127
40      SR Tendulkar  33.826087   114.187867
41         SR Watson  30.917647   134.838379
42         SS Tiwary  28.355556   114.851485
43         SV Samson  25.464286   122.403433
44        TM Dilshan  26.813953   110.124164
45           V Kohli  37.483051   126.588437
46          V Sehwag  27.555556   148.827059
47           WP Saha  25.524590   127.727646
48         YK Pathan  29.816327   140.751445
49      Yuvraj Singh  25.653465   126.390244

In [210]:
import plotly.figure_factory as ff

hist_data = [avg['avg'],avg.strike_rate]

group_labels=['Average','Strike Rate']

fig = ff.create_distplot(hist_data,group_labels,bin_size=[10,20])

pyo.plot(fig,filename='Histogram')

C:\Users\Nihar\anaconda3\lib\site-packages\plotly\offline\offline.py:562: UserWarning:

Your filename `Histogram` didn't end with .html. Adding .html to the end of your file.

'Histogram.html'

# 6.Histogram

In [211]:
sr

             batsman  batsman_runs
0     AB de Villiers    145.129059
1       AC Gilchrist    133.054662
2           AJ Finch    126.299213
3          AM Rahane    117.486549
4          AT Rayudu    123.014257
5        BB McCullum    126.318203
6           BJ Hodge    121.422376
7           CH Gayle    144.194313
8          DA Miller    137.709251
9          DA Warner    138.318401
10          DJ Bravo    122.286822
11         DJ Hussey    120.072661
12  DPMD Jayawardene    118.791064
13          DR Smith    132.279534
14      F du Plessis    124.161074
15         G Gambhir    120.361200
16        GJ Maxwell    157.564103
17         JH Kallis    105.936272
18         JP Duminy    121.970624
19        KA Pollard    140.621266
20     KC Sangakkara    118.469101
21        KD Karthik    123.008475
22           KK Nair    124.650161
23           M Vijay    120.028681
24        MEK Hussey    119.963592
25         MK Pandey    116.938453
26         MK Tiwary    114.127424
27          MS Dhoni    132.835821
28           NV Ojha    114.528024
29          PA Patel    112.718447
30          R Dravid    113.347237
31         RA Jadeja    118.792867
32         RG Sharma    128.497251
33        RV Uthappa    127.635135
34       S Badrinath    115.742972
35          S Dhawan    118.502496
36        SC Ganguly    101.734540
37          SE Marsh    130.109775
38          SK Raina    134.995548
39         SPD Smith    128.507127
40      SR Tendulkar    114.187867
41         SR Watson    134.838379
42         SS Tiwary    114.851485
43         SV Samson    122.403433
44        TM Dilshan    110.124164
45           V Kohli    126.588437
46          V Sehwag    148.827059
47           WP Saha    127.727646
48         YK Pathan    140.751445
49      Yuvraj Singh    126.390244

In [216]:
trace = go.Histogram(x=sr.batsman_runs,xbins={'size':5,'start':100,'end':150})

data = [trace]

layout = go.Layout(title='Strike Rate Variations',
                  xaxis = {'title':'Strike Rate'})

fig = go.Figure(data=data,layout=layout)

pyo.plot(fig,filename='Histogram')

'Histogram.html'

# 8. Heatmap

In [217]:
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [219]:
six = delivery[delivery.batsman_runs==6]
six = six.groupby(['batting_team','over'])['batsman_runs'].count().reset_index()
six

            batting_team  over  batsman_runs
0    Chennai Super Kings     1             5
1    Chennai Super Kings     2            17
2    Chennai Super Kings     3            37
3    Chennai Super Kings     4            34
4    Chennai Super Kings     5            41
..                   ...   ...           ...
271  Sunrisers Hyderabad    16            22
272  Sunrisers Hyderabad    17            18
273  Sunrisers Hyderabad    18            37
274  Sunrisers Hyderabad    19            42
275  Sunrisers Hyderabad    20            28

[276 rows x 3 columns]

In [221]:
trace = go.Heatmap(x=six.batting_team,y=six.over,z=six.batsman_runs)
data = [trace]

layout = go.Layout(title = 'Six Heatmap')

fig = go.Figure(data=data,layout=layout)

pyo.plot(fig,filename='Heatmap')

C:\Users\Nihar\anaconda3\lib\site-packages\plotly\offline\offline.py:562: UserWarning:

Your filename `Heatmap` didn't end with .html. Adding .html to the end of your file.

'Heatmap.html'

In [224]:
dots = delivery[delivery.batsman_runs==0]
dots = dots.groupby(['batting_team','over'])['batsman_runs'].count().reset_index()
dots

            batting_team  over  batsman_runs
0    Chennai Super Kings     1           524
1    Chennai Super Kings     2           462
2    Chennai Super Kings     3           432
3    Chennai Super Kings     4           421
4    Chennai Super Kings     5           376
..                   ...   ...           ...
275  Sunrisers Hyderabad    16           144
276  Sunrisers Hyderabad    17           157
277  Sunrisers Hyderabad    18           128
278  Sunrisers Hyderabad    19           130
279  Sunrisers Hyderabad    20           117

[280 rows x 3 columns]

In [223]:
from plotly import tools

In [226]:
trace = go.Heatmap(x=six.batting_team,y=six.over,z=six.batsman_runs.values.tolist())
trace1 = go.Heatmap(x=dots.batting_team,y=dots.over,z=dots.batsman_runs.values.tolist())

fig = tools.make_subplots(rows=1,cols=2,subplot_titles=["6's","0's"], shared_yaxes=True)

fig.append_trace(trace1,1,1)
fig.append_trace(trace2,1,2)

pyo.plot(fig,filename='Heatmap1')

'Heatmap1.html'